/* Author: Remy Brandriff
   Created September 23, 2016 for CS212 at NAU
   CSS style sheet for online resume */

   body, h1, h3, h4, p { font-family: "Consolas"; } /* Sets font */


   #header { background-color: #F7F3E3; /* Sets properties for header section */
             position: relative;
             height: 150px;
             width: auto; }
   #header h1 { height: 50px;
                line-height: 170px;
                margin: 50px;
                padding-left: 0px; }
   #header p {text-align: right;
              font-size: 13px; }
   #container { text-align: left; /* Sets properties for container */
                width: 1000px;
                margin: 0 auto;
                position: relative; }
   #content { padding: 20px; }
   #content p { text-align: left; }
   #content b { font-size: 15px;}
   #content table { border-spacing: 16px 0px;
                    background-color: #F7F3E3;
                    width: 960px; }
   #sidebar1 { background-color: grey;
               width: 50px;
               height: 920px;
               float: left;
               margin-left: -115px;
               margin-top: 100px; }
